
ul.contact-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul.contact-list{
    margin-top: 6vh;
    text-align: center;
}


ul.contact-list li{
    width: 70vw;
    list-style: none;
    font-size: 1.5rem;
    margin-top: 3%;
}
ul.contact-list a{
    margin-top: 50px;
}


img{
    height: 2.2rem;
    width: 2.3rem;
}

a{
    color: rgb(231, 229, 229);
}

img:hover, a:hover{
    color: grey;
}

@media screen and (max-width: 900px){
    img{
        height: 1.1rem;
        width: 1.1rem;
    }
    ul.contact-list{
        margin-top: 9vh;
    }

    ul.contact-list li{
        font-size: 2.3vh;
        margin-top: 3vh;
        line-height: 3vh;
    }
}